.gallery {
  display: flex;
  justify-content: center;
  width: 912px;
  height: 100%;
  flex-wrap: wrap;
  margin: auto;
}

.grid_container {
  margin-top: 2px;
  display: grid;
  gap: 5px;
  grid-template-columns: auto auto auto;
}

.gallery_img {
  width: 300px;
  height: 300px;
  margin: 2px;
}

@media screen and (max-width: 911px) {
  .grid_container {
    grid-template-columns: auto auto;
  }

  .gallery {
    width: 608px;
  }
}

@media screen and (max-width: 607px) {
  .grid_container {
    grid-template-columns: auto;
  }

  .gallery {
    width: 304px;
  }
}
