.Impressum {
  display: flex;
  justify-content: space-evenly;
  font-size: 80%;
  color: #737373;
  width: 90%;
}

.Fußzeile {
  display: flex;
  justify-content: space-evenly;
  font-size: 80%;
  color: #737373;
  width: 30%;
}
