.profil {
  display: flex;
  justify-content: space-around;
  min-width: 500px;
  height: 100%;
  margin-top: 100px;
}

.profil_kram {
  width: 100%;
}

.profil_bild {
  padding: 40px;
}

.profil_bild_img {
  height: 180px;
  width: 180px;
}

.profil_stats {
  margin-top: 15px;
}

.profil_bio {
  line-height: 0.01;
}

.flexbox {
  display: flex;
  justify-content: center;
}

.stat {
  margin-right: 10px;
}
